<div class="col-xs-12" id="manage-categories">
    <h3>Manage categories</h3>
    <div class="table-top-button-div">
      <button class="btn btn-sm btn-primary"><i class="fa fa-plus fa-right-padding"></i> Add New Category</button>
    </div>
  
    <div class="table-responsive">
      <table class="table">
        <thead class="info">
          <tr class="active">
            <th>Category Name</th>
            <th>Description</th>
            <th>Icon</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-stripped">
          <tr>
            <td>Automobiles</td>
            <td>All vehicle related stuff</td>
            <td><i class="fa fa-user"></i></td>
            <td class="text-right">
              <button class="btn btn-xs btn-primary">
                  <i class="fa fa-pencil fa-right-margin"></i>Edit
                </button>
            </td>
          </tr>
          <tr>
            <td>Automobiles</td>
            <td>All vehicle related stuff</td>
            <td><i class="fa fa-user"></i></td>
            <td class="text-right">
              <button class="btn btn-xs btn-primary">
                  <i class="fa fa-pencil fa-right-margin"></i>Edit
                </button>
            </td>
          </tr>
          <tr>
            <td>Automobiles</td>
            <td>All vehicle related stuff</td>
            <td><i class="fa fa-user"></i></td>
            <td class="text-right">
              <button class="btn btn-xs btn-primary">
                  <i class="fa fa-pencil fa-right-margin"></i>Edit
                </button>
            </td>
          </tr>
          <tr>
            <td>Automobiles</td>
            <td>All vehicle related stuff</td>
            <td><i class="fa fa-user"></i></td>
            <td class="text-right">
              <button class="btn btn-xs btn-primary">
                  <i class="fa fa-pencil fa-right-margin"></i>Edit
                </button>
            </td>
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>
