# Node modules (NPM packages)
**/node_modules/

# Mac OS Files
**/.DS_Store

# compiled output
**/dist
**/tmp
**/out-tsc

# Visual studio code Files
.vscode

# Bower modules
public/libs/
public/admin/src/assets/libs/

# Log files
logs/

# CSS Files
public/admin/src/assets/css/