<div class="stats-div">
    <div class="col-lg-3 col-xs-6">
      <div class="stat-card">
        <span class="heading">
            <i class="fa fa-users fa-icon"></i>Total Users</span>
        <span class="value">2500</span>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="stat-card">
        <span class="heading">
            <i class="fa fa-user fa-icon"></i>Users online</span>
        <span class="value">23</span>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="stat-card">
        <span class="heading">
            <i class="fa fa-motorcycle fa-icon"></i>Products</span>
        <span class="value">235</span>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="stat-card">
        <span class="heading">
            <i class="fa fa-shopping-bag fa-icon"></i>Vendors</span>
        <span class="value">324</span>
      </div>
    </div>
  </div>

  <div class="col-xs-12" id="manage-categories">
    <h3>Manage categories</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores placeat, iure velit vel a, nisi deserunt quibusdam
      repellat non omnis nobis odio, cupiditate quia sunt alias natus architecto error sed. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Pariatur architecto illum eum doloribus dolore vitae, perferendis dicta delectus,
      nam fugiat.</p>
    <div class="table-top-button-div">
      <button class="btn btn-sm btn-primary"><i class="fa fa-plus fa-right-padding"></i> Add New Category</button>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead class="info">
          <tr class="active">
            <th>Category Name</th>
            <th>Description</th>
            <th>Icon</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-stripped">
          <tr>
            <td>Automobiles</td>
            <td>All vehicle related stuff</td>
            <td><i class="fa fa-user"></i></td>
            <td class="text-right">
              <button class="btn btn-xs btn-primary">
                <i class="fa fa-pencil fa-right-margin"></i>Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>Automobiles</td>
            <td>All vehicle related stuff</td>
            <td><i class="fa fa-user"></i></td>
            <td class="text-right">
              <button class="btn btn-xs btn-primary">
                <i class="fa fa-pencil fa-right-margin"></i>Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>Automobiles</td>
            <td>All vehicle related stuff</td>
            <td><i class="fa fa-user"></i></td>
            <td class="text-right">
              <button class="btn btn-xs btn-primary">
                <i class="fa fa-pencil fa-right-margin"></i>Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>Automobiles</td>
            <td>All vehicle related stuff</td>
            <td><i class="fa fa-user"></i></td>
            <td class="text-right">
              <button class="btn btn-xs btn-primary">
                <i class="fa fa-pencil fa-right-margin"></i>Edit
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>