// Import all fonts & other less files
@import url(https://fonts.googleapis.com/css?family=Rubik);
@import "config";
@import "mixins";

body {
  font-family: @website-font-family;
  color: #666;
}

.sidenav {
  margin: 0;
  background-color: @nav-bg-color;
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
}

.container-fluid {
  padding: 0;
}

.main-content {
  margin-left: 200px;
}

.red-border {
  .thin-round-border(0px, red);
}

.btn-style-init {
  .border-padding-background-init;
}

.ziptag-btn {
  .border-padding-background-init;
  .thin-round-border-with-padding(5px, red, 6px);
}
