// Import all fonts & other less files
@import url(https://fonts.googleapis.com/css?family=Rubik);
@import "config";
@import "mixins";

body {
  font-family: @website-font-family;
  color: #666;
}

.sidenav {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.red-border {
  .thin-round-border(0px, red);
}

.btn-style-init {
  .border-padding-background-init;
}

.ziptag-btn {
  .border-padding-background-init;
  .thin-round-border-with-padding(5px, red, 6px);
}
