<div class="stats-div">
    <div class="col-lg-3 col-xs-6">
      <div class="stat-card">
        <span class="heading">
              <i class="fa fa-users fa-icon"></i>Total Users</span>
        <span class="value">2500</span>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="stat-card">
        <span class="heading">
              <i class="fa fa-user fa-icon"></i>Users online</span>
        <span class="value">23</span>
      </div>
    </div>
  
    <div class="col-lg-3 col-xs-6">
      <div class="stat-card">
        <span class="heading">
              <i class="fa fa-motorcycle fa-icon"></i>Products</span>
        <span class="value">235</span>
      </div>
    </div>
  
    <div class="col-lg-3 col-xs-6">
      <div class="stat-card">
        <span class="heading">
              <i class="fa fa-shopping-bag fa-icon"></i>Vendors</span>
        <span class="value">324</span>
      </div>
    </div>
  </div>
  
 