@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "config.less";
@import "mixins.less";

.login-container {
    background: @bg-color;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 30px;
}

.center-container{
    width: 310px;
    margin: auto;
}

.login-panel {
    font-size: 90%;
    margin: 10px;
    padding: 10px;
}

.panel-body {
    margin: -9px 5px !important;
}

.alert {
    margin: 5px;
}

.logo-div {
    margin-bottom: 25px;
}

.logo-format {
    width: 150px;
}

.forgot-password-label, .remember-me-label  {
    font-size: 90%;
}

.link-text-cursor-hand {
    cursor: pointer;
}

.btn {
    padding: 10px;
    border: 0;
}

.login-btn {
    width: 100%;
    margin-bottom: -15px;
    margin-top: 1px;
}
