@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "config.less";
@import "mixins.less";

#particles-js {
    background: @bg-color;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.center-container {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}


.inner {
    margin-left: auto;
    margin-right: auto; 
    //margin-top: -130px;
    width: 310px;
}

// Media query for side nav bar
@media (min-width: 768px) {
    .inner {
        margin-left: auto;
        margin-right: auto; 
        margin-top: -130px;
        width: 310px;
    }
}

.login-panel {
    font-size: 90%;
    margin: 10px;
    padding: 10px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;    
}   

.panel-body {
    margin: -9px 5px !important;
}

.alert {
    margin: 5px;
}

.logo-div {
    margin-bottom: 25px;
}

.logo-format {
    width: 150px;
}

.forgot-password-label, .remember-me-label  {
    font-size: 90%;
}

.link-text-cursor-hand {
    cursor: pointer;
}

.btn {
    padding: 10px;
    border: 0;
}

.login-btn {
    width: 100%;
    margin-bottom: -15px;
    margin-top: 1px;
}
