@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Raleway);
/* All variables */
/* Contains all mixins */
.border-padding-background-init {
  border: 0px;
  padding: 0px;
  background: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  webkit-border-radius: 0px;
}
html,
body,
.container,
.container-table {
  height: 100%;
}
body {
  background: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  font-size: 150%;
}
.container {
  padding: 0px;
}
.container-table {
  padding: 0px;
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
.login-panel {
  font-size: 90%;
}
.logo-div {
  margin-bottom: 25px;
}
.login-header-div {
  margin-bottom: 15px;
  font-family: 'Raleway';
  font-size: 150%;
  font-weight: 500;
}
.logo-format {
  width: 150px;
  height: auto;
}
.forgot-password-label,
.remember-me-label {
  font-size: 90%;
}
.link-text-cursor-hand {
  cursor: pointer;
}
.btn {
  padding: 10px;
  border: 0;
}
.login-btn {
  width: 100%;
  margin-bottom: -15px;
  margin-top: 1px;
}
