@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);
/* All variables */
/* Contains all mixins */
.border-padding-background-init {
  border: 0px;
  padding: 0px;
  background: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  webkit-border-radius: 0px;
}
body {
  font-family: 'Open Sans', 'Segoe UI', verdana, sans-serif;
  color: #6B7C8F;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.container-fluid {
  padding: 0;
}
.fa-icon {
  margin-right: 5px;
}
.loader-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9800;
  background: url('../../img/ajax-loader.gif') center no-repeat #fff;
  opacity: 0.9;
}
.sidenav {
  margin: 0;
  padding-bottom: 30px;
  background-color: #2A3F54;
  position: absolute;
  overflow: auto;
  min-height: 100%;
  height: 100%;
  width: 235px;
  top: 0;
  left: 0;
  color: #EAEEEF;
  box-shadow: 1px 0px 2px #AAA;
}
.sidenav .sidenav-menu {
  margin-top: 20px;
}
.sidenav .sidenav-footer {
  position: fixed;
  width: 235px;
  padding: 10px;
  background-color: #19293A;
  left: 0;
  bottom: 0;
}
.sidenav .sidenav-footer-icons {
  color: #526980;
  margin: 0px 17px;
  cursor: pointer;
}
.sidenav .sidenav-footer-icons:hover {
  color: #EAEEEF;
  transition: 1s;
}
.main-content {
  margin-left: 235px;
}
@media (max-width: 768px) {
  .sidenav {
    visibility: hidden;
    width: 0px;
    z-index: 100;
    opacity: 0.91;
    transition: 0.3s;
  }
  .main-content {
    margin-left: 0px;
  }
}
.open-side-nav {
  visibility: visible;
  width: 235px;
  transition: 0.3s;
}
.red-border {
  border: 1px solid red;
  border-radius: 0px;
  -moz-border-radius: 0px;
  webkit-border-radius: 0px;
}
.btn-style-init {
  border: 0px;
  padding: 0px;
  background: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  webkit-border-radius: 0px;
}
.ziptag-btn {
  border: 0px;
  padding: 0px;
  background: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  webkit-border-radius: 0px;
  padding: 6px;
  border: 1px solid red;
  border-radius: 5px;
  -moz-border-radius: 5px;
  webkit-border-radius: 5px;
}
/* UL */
.list-group-item,
.list-group-item:hover,
.nav-active {
  border: 0px;
  padding: 0px;
  background: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  webkit-border-radius: 0px;
  padding: 10px;
  display: block;
}
.list-group-item:hover {
  cursor: pointer;
  border-right: 6px solid #4AAD91;
  border-top: 1px solid #4C5964;
  border-bottom: 1px solid #4C5964;
  padding: 9px 10px;
  transition: border-right 0.3s;
}
.list-group-item a {
  color: #EAEEEF;
  display: block;
  margin-left: 10px;
  text-decoration: none;
}
.list-group-item a span {
  padding-left: 8px;
}
.nav-active {
  border-right: 6px solid #4AAD91;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  webkit-border-radius: 0px !important;
}
/* Logo & Sidenav Footer */
.logo-icon {
  margin: 10px;
  width: 50px;
  margin-right: 5px;
}
.logo-text {
  color: #EAEEEF;
  font-size: 150%;
  vertical-align: middle;
}
/* Main page content */
.main-content header {
  background-color: #EAEAEA;
  padding: 10px 20px;
  border-bottom: 1px solid #D4D9DF;
}
.main-content header .fa-icon {
  padding-top: 3px;
  cursor: pointer;
}
.avatar-div .avatar-name {
  font-size: 90%;
  font-weight: bold;
  padding: 0px 7px;
}
.avatar-div .avatar-section {
  cursor: pointer;
  display: inline-block;
}
.avatar-div .avatar-dropdown-container {
  display: inline-block;
  padding-bottom: 2px;
}
.avatar-div .fa-icon {
  font-size: 10px;
}
.avatar-div .fa-icon-medium {
  font-size: 15px;
  margin-right: 10px;
  color: #19293A;
}
.avatar-icon {
  width: 35px;
}
/* Main page content */
.page-content {
  padding: 10px 15px;
}
.page-content h3 {
  margin-bottom: 20px;
}
.stat-card {
  background-color: #F6F6F6;
  padding-left: 20px;
  margin: 10px;
}
.stat-card .heading,
.stat-card .value {
  display: block;
}
.stat-card .value {
  font-size: 40px;
  font-weight: bold;
}
