/* All variables */
/* Contains all mixins */
.btn,
.primary-btn {
  padding: 10px;
  border: 0;
}
.primary-btn {
  background-color: #3b5998;
  border: 1px solid red;
  border-radius: 5px;
  -moz-border-radius: 5px;
  webkit-border-radius: 5px;
}
body {
  background: red;
}
ul#menu {
  list-style: none;
}
ul#menu li {
  padding: 10 px 0;
}
ul#menu li a {
  color: #f57823;
  text-decoration: none;
}
ul#menu li a:hover {
  color: #000;
}
