@import url(https://fonts.googleapis.com/css?family=Rubik);
/* All variables */
/* Contains all mixins */
.border-padding-background-init {
  border: 0px;
  padding: 0px;
  background: none;
}
body {
  font-family: 'Rubik', 'Segoe UI', verdana, sans-serif;
  color: #666;
}
.sidenav {
  margin: 0;
}
.container-fluid {
  padding: 0;
}
.red-border {
  border: 1px solid red;
  border-radius: 0px;
  -moz-border-radius: 0px;
  webkit-border-radius: 0px;
}
.btn-style-init {
  border: 0px;
  padding: 0px;
  background: none;
}
.ziptag-btn {
  border: 0px;
  padding: 0px;
  background: none;
  padding: 6px;
  border: 1px solid red;
  border-radius: 5px;
  -moz-border-radius: 5px;
  webkit-border-radius: 5px;
}
