<nav class="sidenav" id="side-nav-bar">
  <div class="logo-group">
    <a [routerLink]="''" title="Admin Dashboard Home">
      <img src="assets/img/logo_icon_white.png" class="logo-icon" alt="Ziptag Logo">
    </a>
    <span class="logo-text">Good Evening!</span>
  </div>
  <div class="sidenav-menu">
    <ul class="list-group">
      <li class="list-group-item" id="master-data-menu">
        <i class="fa fa-database fa-lg fa-icon"></i>
        <span>Master Data</span>
        <i class="fa fa-chevron-down right-chevron"></i>
      </li>
      <ul class="list-group-small" id="master-data-sub-menu">
        <li [routerLink]="['/categories']">Manage Categories</li>
        <li>Manage Products</li>
      </ul>
      <li class="list-group-item">
        <i class="fa fa-table fa-lg fa-icon"></i>
        <span>Logs</span>
      </li>
      <li class="list-group-item">
        <i class="fa fa-gift fa-lg fa-icon"></i>
        <span>Vendors</span>
      </li>
      <li class="list-group-item nav-active">
        <i class="fa fa-users fa-lg fa-icon"></i>
        <span>Users</span>
      </li>
      <li class="list-group-item">
        <i class="fa fa-cogs fa-lg fa-icon"></i>
        <span>Settings</span>
      </li>

    </ul>
  </div>
  <div class="sidenav-footer">
    <i class="fa fa-cogs fa-lg sidenav-footer-icons"></i>
    <i class="fa fa-arrows-alt fa-lg sidenav-footer-icons"></i>
    <i class="fa fa-lock fa-lg sidenav-footer-icons"></i>
    <i class="fa fa-power-off fa-lg sidenav-footer-icons"></i>
  </div>
</nav>