<header>
<div class="row">
  <div class="visible-xs visible-sm col-xs-3 col-sm-3">
    <i class="fa fa-bars fa-2x fa-icon" id="sidebar-hamburger"></i>
  </div>
  <div class="col-xs-9 col-sm-9 col-md-12 avatar-div text-right">
    <div class="dropdown avatar-dropdown-container">
      <span class="avatar-section dropdown-toggle" data-toggle="dropdown">
          <img src="https://avatars2.githubusercontent.com/u/18741615?v=4" class="avatar-icon img-circle" alt="">
          <span class="avatar-name">Biswaranjan Rout</span>
      <i class="fa fa-chevron-down fa-icon"></i>
      </span>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#"><i class="fa fa-user fa-icon-medium"></i>Profile</a></li>
        <li><a href="#"><i class="fa fa-cog fa-icon-medium"></i>Settings</a></li>
        <li class="divider"></li>
        <li><a href="#" id="loaderTest" [routerLink]="['login']"><i class="fa fa-sign-out fa-icon-medium"></i>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
</header>